<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" monitorInterval="30">
    <Properties>
        <Property name="LOG_HOME">./logs</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36}:%L [%M] - %msg%n"/>
        </Console>

        <!--按天生成，每天一个，每个最大100M，多个_i后缀，保存30个-->
        <RollingFile name="RollingFileInfo" fileName="${LOG_HOME}/ip-search.log"
                     filePattern="${LOG_HOME}/$${date:yyyy-MM}/ip-search-%d{yyyy-MM-dd}_%i.log">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36}:%L [%M] - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <RollingFile name="RollingFileError" fileName="${LOG_HOME}/ip-search-error.log"
                     filePattern="${LOG_HOME}/$${date:yyyy-MM}/ip-search-error-%d{yyyy-MM-dd}_%i.log">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36}:%L [%M] - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

    </Appenders>

    <Loggers>
        <root level="all">
            <appenderRef ref="Console"/>
            <appenderRef ref="RollingFileInfo"/>
            <appenderRef ref="RollingFileError"/>
        </root>
    </Loggers>
</Configuration>